name: GitHub-Profile-3D-Contrib

on:
  schedule: 
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v4

      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

      - name: Configure Git identity
        run: |
          git config --global user.name "DevAdora"
          git config --global user.email "2r.reiyhes@gmail.com"
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Commit & Push
        run: |
          git add -A .
          git commit -m "generated" || echo "No changes"
          git push
